* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 24px;
    background-color: #121212;
}
body{
    display: grid;
}

.navContainer{
    /* box-shadow: 0 4px 6px 0 #ede8da; */
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: gray;
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.nav{
    width: 1000px;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.9em;
    margin-left: 0.9em;
}

.navLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container{
    display: grid;
    justify-content: center;
    overflow-x: hidden;
}

.IMGames{
    height: 15.625em;
    width: 100%;
    background-color: white;
    text-align: center;
}

.IMGames a {
  font-family: 'Press Start 2P', cursive;
}

/*.slideshow{
    height: 15.625em;
    width: 100%;
    background-color: #f2e8e8;
}*/

.descriptions{
    height: 10.583em;
    width: 100%;
    background-color: #c4c4c4;
}

.elementsGrid{
    background-color: #121212;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    align-content: start;
}

.elementsGridMobile{
    display: none;
}

.element{
    height: 14.583em;
    background-color: #121212;
    margin: 20px;
    width: 15.67em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0);
    border-radius: 20px;
}
.bigElement{
    grid-column: span 2;
    grid-row: 3 / span 2;
    background-color: #121212;
    margin: 20px;
    width: 33.125em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0);
    border-radius: 20px;
}

.bottomGrayRectangle{
    height: 362px;
    width: 100%;
    background-color: #c4c4c4;
}
.footer{
    
    height: 67px;
    width: 100%;
}

@media only screen and (max-width:450px){
    .nav{
        width: 100%;
    }
    .elementsGrid{
        display: none;
    }
    .elementsGridMobile{
        background-color: #121212;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: auto;
        padding: 10px;
    }
    .element{
        width: 8.96em;
        height:8.33em ;
        flex: 0 0 auto;
        background-color: aqua;
    }
    .bottomGrayRectangle{
        display: none;
    }
}